<h1>Listing api_users</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @api_users.each do |api_user| %>
  <tr>
    <td><%=h api_user.name %></td>
    <td><%= link_to 'Show', api_user %></td>
    <td><%= link_to 'Edit', edit_api_user_path(api_user) %></td>
    <td><%= link_to 'Destroy', api_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New api_user', new_api_user_path %>